<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.betatown.mobile.beitonelibrary">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application>
        <activity
            android:name=".permission.AcpActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Transparent" />
    </application>

</manifest>
