<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.beitone.signup">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />


    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".SignUpApplication"
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="1g07OC6ii5KAU7q3WagFHvxbSsPfbcG3"></meta-data>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="668" />

        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.account.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.account.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.account.SendAuthCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.account.ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.account.ImproveInformationActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.account.UserInfoActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.account.FaceDetectActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.account.FaceSignActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.setting.SettingActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.setting.UpdatePasswordActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.setting.AboutUsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.setting.FeedbackActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.setting.CheckUserActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.setting.ChangePhoneActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.WebActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.account.AuditActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.WebActivity1"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.donkingliang.imageselector.ImageSelectorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />


        <activity
            android:name="com.donkingliang.imageselector.PreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.donkingliang.imageselector.ClipImageActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>